{% extends "movies/base.html" %}
{% block title %}{{ action }} movie{% endblock %}
{% block content %}
    <div class="form-rail">
        <h1>{{ action }} movie</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="field">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <div class="form-actions">
                <button class="btn btn-cta" type="submit">{{ button_text }}</button>
                <a class="btn btn-ghost" href="{% url 'movie_list' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
